<h3>Available Automobiles</h3>
<div>
  <ul>
    <% @car.each do |c| %>

      <li>
        Year: <%= c.year %>
      </li>

      <li>
        Make: <%= c.manufacturer.name%>
      </li>

      <li>
        Model: <%= c.model %>
      </li>

      <li>
        Mileage: <%= c.mileage %>
      </li>

      <li>
        Color: <%= c.color %>
      </li>

      <% unless c.description == ''%>
        <li>
          Details: <%= c.description %>
        </li>

      <%end%>
      <br>
    <%end%>
  </ul>
  <%= link_to 'Add a Car Listing', new_car_path %>
</div>
