<h3>Enter a Car to Add to Inventory</h3>
 <%= link_to 'Back to All Cars', cars_path%>
<div>
  <%= form_for @car do |f| %>

    <%= f.label :year %>
    <%= f.text_field :year%>

    <br>

    <%= f.label :manufacturer_id, 'Manufacturer' %>
    <%= f.select(:manufacturer_id, options_for_select(@manufacturer)) %>
    <%= link_to ' - Add a Manufacturer', new_manufacturer_path%>

    <br>

    <%= f.label :model %>
    <%= f.text_field :model %>

    <br>

    <%= f.label :mileage %>
    <%= f.text_field :mileage %>

    <br>

    <%= f.label :color %>
    <%= f.text_field :color %>

    <br>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <br>

    <%= f.submit 'Submit'%>

  <%end%>
</div>
